site-lisp/autoloads*
tree-sitter
.idea/
.cursorrules
easysession/
eln-cache/
lsp-cache/
persist/
request/
tabsession.el
tramp
image-dired/
.hl-save
.lsp-session-v1
abbrev_defs
annotations
fontaine-latest-state.eld
nov-places
transient/
